:root {
  --main-width: 80vw;
  --max-width: 1200px;
  --padding: 20px;
}

.card-container {
  padding: var(--padding);
}

.card-title {
  background-color: var(--color-principal);
  padding: var(--padding);
  text-align: center;
  color: var(--color-background);
  border-radius: 5px;
  border-left: 2px solid #333;
}

.title {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.card-quote {
  position: relative;
  margin: 20px auto;
  padding: var(--padding);
  max-width: 600px;
  background-color: var(--color-background);
  border-left: 5px solid #333;
  border-radius: 5px;
  font-style: italic;
  color: var(--color-text);
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.quote-content {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.quote-author {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  color: var(--color-highlight);
}

.card-item-creator {
  margin: 10px 0;
  display: flex;
  background-color: var(--color-secondary);
  height: 2em;
  padding: 1em;
  border-radius: 5px;
  border-left: 2px solid #333;
}

.card-items-wrapper {
  background-color: var(--color-background);
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}
